body{
	background-color: black;
	margin: 0px;
}

header{
	background-color: gray;
	padding: 20px;
	margin: 0px;
	text-align: center;
	font-size: 45px;
}

h1{
	color: white;
	text-align: center;
	text-transform: uppercase;
}